@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}